<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>




<body>
    <!--hamburger begins-->

    <div class="row" style="font-family: 'Fjalla One', sans-serif !important;">
        <div class="left ">
            <ul>
                <a href="#">
                    <li class="item-menu layer">
                        <span style="margin:0px 15px;"><img style="width:32px;height:32px;margin-top:25px;"
                              src="../assets/images/layer.png"></span>
                        <!--<span img src="C:\Users\smandre\Downloads\Seema Project\Images\Images_to_go\layer.png" style="padding:5px;background-color:pink;"></span>-->
                        <span><img style="width:70%;" src="../assets/images/cornerPiece.png"></span>
                    </li>
                </a>
                <a href="#">
                    <li class="item-menu">
                        <span style="margin:0px 15px;"><img style="margin-top:10px;width:32px;height:32px;"
                              src="../assets/images/icon (8).png"></span>
                        <a href="#"><span class="menu">Dashboard</span></a>
                    </li>
                </a>
                <a href="#">
                    <li class="item-menu">
                        <span style="margin:0px 15px;"><img style="margin-top:10px;width:32px;height:32px;"
                              src="../assets/images/promotion.png"></span>
                        <a href="#"><span style="color:#12abdb !important;" class="menu">Promotions</span></a>
                    </li>
                </a>
                <a href="#">
                    <li class="item-menu">
                        <span style="margin:0px 15px;"> <img style="margin-top:10px;width:32px;height:32px;"
                              src="../assets/images/brochure.png"></span>
                        <a href="#"><span class="menu">Brochures</span></a>
                    </li>
                </a>
                <a href="#">
                    <li class="item-menu">
                        <span style="margin:0px 15px;"> <img style="margin-top:10px;width:32px;height:32px;"
                              src="../assets/images/report (4).png"></span>
                        <a href="#"><span class="menu">Reporting</span></a>
                    </li>
                </a>

            </ul>
        </div>
        <!-- end left -->

    </div>
    <!--hamburger ends-->
    <!--header starts-->
    <div class="promhead">
        <a href="header">
            <img class="logo" src="../assets/images/newCloudHexLogo.png" style=""></a>
        <a href="login-page">
            <img class="headshot"  src="../assets/images/logout.png"  style=""></a> >
                <a href="#"> <img class="headshot1" src="../assets/images/Headshot 1.png" style="">

                </a>
                <h1 class="mainhead" style="">IOT Predictive Maintenance</h1>

    </div>

    <div>
        <h2 class="color" style="font-family: 'Fjalla One', sans-serif !important;">MANAGE FILTERS</h2>
        <h3 class="tc" style="font-family: 'Fjalla One', sans-serif !important;font-size: 20px">Filters
            <a href="#"><img style="height:3%; width:3%; margin-left: 90%;" src="../assets/images/plus.png">
            </a>
        </h3>

    </div>
    <div class="container-fluid">
        <!-- <div class="div1">

            <div class="form-group" style="z-index:1;">

                <h4 class="frm"> Filtername</h4>
                <input type="text" class="form-control brdr" formControlName="filterName" size="9" autocomplete="off">


            </div>
        </div> -->
        <table style="width:100%;font-family: 'Fjalla One', sans-serif !important;" class="table-filter">
            <tr>
                <th>Filtername</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Unit Status</th>
            </tr>
            <tr class="title-border">
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
            </tr>
        </table>

    </div>

    <div class="container-fluid" id="tracking-homeDiv" style="z-index:-1;">
        <div class="dark-title">

        </div>
        <table class="table" style="width:100%">
            <thead>
                <tr style="font-family: 'Fjalla One', sans-serif !important; color: #12abdb">
                    <th style="width: 35%;">Filter Name</th>
                    <th style="width: 12%;">Start Date</th>
                    <th style="width: 12%;">End Date</th>
                    <th style="width: 20%;">Unit Status</th>
                    <th style="width: 30%;">Action</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>Filter1</td>
                    <td>4-2-19</td>
                    <td>5-2-19</td>
                    <td>Removed</td>
                    <td>
                        <a href="#"><img src="../assets/images/file.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"><img src="../assets/images/view.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"> <img src="../assets/images/compose.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"> <img src="../assets/images/copy.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"> <img src="../assets/images/trash.png"></a>&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>

                <tr>
                    <td>Filter2</td>
                    <td>3-28-19</td>
                    <td></td>

                    <td>New, Installed</td>
                    <td>
                        <a href="#"><img src="../assets/images/file.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"><img src="../assets/images/view.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"> <img src="../assets/images/compose.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"> <img src="../assets/images/copy.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"> <img src="../assets/images/trash.png"></a>&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>

                <tr>
                    <td>Filter3</td>
                    <td>3-28-19</td>
                    <td>5-28-19</td>
                    <td>Installed</td>
                    <td>
                        <a href="#"><img src="../assets/images/file.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"><img src="../assets/images/view.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"> <img src="../assets/images/compose.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"> <img src="../assets/images/copy.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"> <img src="../assets/images/trash.png"></a>&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>

                <tr>
                    <td>Filter4</td>
                    <td>3-26-19</td>
                    <td></td>

                    <td>Removed</td>
                    <td>
                        <a href="#"><img src="../assets/images/file.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"><img src="../assets/images/view.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"> <img src="../assets/images/compose.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"> <img src="../assets/images/copy.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"> <img src="../assets/images/trash.png"></a>&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>

                <tr>
                    <td>Filter5</td>
                    <td>3-24-19</td>
                    <td>4-28-19</td>

                    <td>Installed</td>
                    <td>
                        <a href="#"><img src="../assets/images/file.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"><img src="../assets/images/view.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"> <img src="../assets/images/compose.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"> <img src="../assets/images/copy.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"> <img src="../assets/images/trash.png"></a>&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>

                <tr>
                    <td>Filter6</td>
                    <td>3-24-19</td>
                    <td>4-20-19</td>

                    <td>New, Installed</td>
                    <td>
                        <a href="#"><img src="../assets/images/file.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"><img src="../assets/images/view.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"> <img src="../assets/images/compose.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"> <img src="../assets/images/copy.png"></a>&nbsp;&nbsp;&nbsp;
                        <a href="#"> <img src="../assets/images/trash.png"></a>&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</body>
<div class="end"  style="">
    <!--button-->
    <input (click)="openModal()"  class="sub4"  id="myBtn"  type="submit"  value="Submit">

        </div>


        <!--modal starts-->
        <!-- Trigger/Open The Modal -->
        <ng-template #modal ng-app="myApp"  ng-controller="aboutController as about"  let-c="close"  let-d="dismiss">
            <div class="modal-whole"  >
                <div class="modal-body"  >
                    <ng-container >
                        <button type="button"  style="border:none !important;"  class="close"  aria-label="Close"  (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                                </button>
                                <img class="modalimg"  style=""  src="assets/images/cornerPiece.png">
                                    <p class="modalprom"  style="">Promotion Saved</p>
                                        <p class="modalp"  style="">Promotion name</p>
                                            <h4 class="headingprom"  style="">December Promotion E</h4>
                                                <p class="hash"  style="">Hash Code</p>
                                                    <h4 class="code"  style="">[B@283417fa</h4>
                                                        <a id="modalbtn" href="associate-promo"  type="button"  (click)="d('Cross click')"  style=""  class="btn btn-primary">OK</a>
                                                            </ng-container>
                                                            </div>
                                                            </div>
                                                            </ng-template>
                                                            <!--modal ends-->